<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <%ratesList.forEach(rate=> {%>
        <input type="hidden" id="<%= rate.currency %>_AUD" value='<%= rate.AUD %>' disabled>
        <input type="hidden" id="<%= rate.currency %>_CAD" value='<%= rate.CAD %>' disabled>
        <input type="hidden" id="<%= rate.currency %>_CHF" value='<%= rate.CHF %>' disabled>
        <input type="hidden" id="<%= rate.currency %>_GBP" value='<%= rate.GBP %>' disabled>
        <input type="hidden" id="<%= rate.currency %>_JPY" value='<%= rate.JPY %>' disabled>
        <input type="hidden" id="<%= rate.currency %>_USD" value='<%= rate.USD %>' disabled>
        <input type="hidden" id="<%= rate.currency %>_NZD" value='<%= rate.NZD %>' disabled>
        <input type="hidden" id="<%= rate.currency %>_EUR" value='<%= rate.EUR %>' disabled>
        <%})%>



            <script>
                function calculate() {
                    var currency = document.getElementById('currencys').value
                    var quote = document.getElementById('quote').value
                    currency_quote = currency + '_' + quote
                    document.getElementById('Label_quote').value = document.getElementById('currency_amount').value * document.getElementById(currency_quote).value;
                    document.getElementById('quote_amount').value = document.getElementById('currency_amount').value * document.getElementById(currency_quote).value;
                    var fee_cost = document.getElementById(currency_quote).value    
                    document.getElementById("LFee_cost").value = fee_cost
                    document.getElementById("fee_cost").value = fee_cost
                }

            </script>
            <form action="/exchange" method="POST">          
                <select id="currencys" name="currency" onchange="calculate()">
                    <option disabled selected> Select a currency </option>
                    <option value="USD"> USD </option>
                    <option value="EUR"> EUR </option>
                    <option value="JPY"> JPY </option>
                    <option value="GBP"> GBP </option>
                    <option value="CHF"> CHF </option>
                    <option value="AUD"> AUD </option>
                    <option value="CAD"> CAD </option>
                    <option value="NZD"> NZD </option>
                </select>
                <label> Amount </label>
                <input name="currency_amount" value="1" id="currency_amount" onkeyup="calculate()">
                <br>
                <select id="quote" name="quote" onchange="calculate()">
                    <option disabled selected> Select a currency to quote </option>
                    <option value="USD"> USD </option>
                    <option value="EUR"> EUR </option>
                    <option value="JPY"> JPY </option>
                    <option value="GBP"> GBP </option>
                    <option value="CHF"> CHF </option>
                    <option value="AUD"> AUD </option>
                    <option value="CAD"> CAD </option>
                    <option value="NZD"> NZD </option>
                </select>
                <label> Amount </label> <input type="text" disabled id="Label_quote">
                <input type="hidden" name="quote_amount" id="quote_amount">
                <br>
                <label> Fee Cost </label> <br> 
                <input id="fee_cost" name="fee_cost" type="hidden" >
                <input type="text" disabled id="LFee_cost" name="LFee_cost">                
                <br>              
                <button> Exchange Currency </button>
            </form>
</body>

</html>