<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a>
        <% currenciesList.forEach(currencies=> { %>
            <p> Currency: <%= currencies.currency %>
            </p> <br>
            <p> Available Money: <%= currencies.available_money %>
                    <%= cotize %>
            </p>

            <p>Currency Amount:
                <%= currency_amount %>
                    <%= currency %>
            </p>
            <p>Cotize Amount: <%= cotize_amount %>
                    <%= cotize %>
            </p>
            <% }) %>
</body>

</html>