<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>

<body onload="available_money()">
    <form action="/add" method="POST">
        <% currenciesList.forEach(currencies=> { %>
            <input type="hidden" id="<%= currencies.currency %>" name="<%= currencies.currency %>"
                value="<%= currencies.available_money %>">
            
        <%})%>

                <script>
                    function available_money(){
                        
                        document.getElementById('available_money').value = document.getElementById(quote.value).value
                        document.getElementById('lavailable_money').value = document.getElementById(quote.value).value
                        document.getElementById('available_currency_money').value = document.getElementById(currency.value).value
                    }
                </script>

                <p> <input type="text" placeholder="Name" id="name" name="name"> </p>
                <p> <input type="text" placeholder="Number" id="number" name="number"> </p>

                <input type="hidden" id="currency" name="currency" value="<%= currency %>">
                <input type="hidden" id="quote" name="quote" value="<%= quote %>">

                <p>Currency Amount:
                    <%= currency_amount %>
                        <input name="currency_amount" type="hidden" value="<%= currency_amount %>">
                        <%= currency %>
                </p>

                <p>Quote Amount: <%= quote_amount %>
                        <input name="quote_amount" type="hidden" value="<%= quote_amount %>">
                        <%= quote %>
                </p>

                <p> Available Money: <input name=" lavailable_money" id="lavailable_money" disabled>
                    <input value="" id="available_money" name="available_money" type="hidden">
                    <input value="" id="available_currency_money" name="available_currency_money" type="hidden">
                    <%= quote %>
                </p>

                <p> Fee Cost: <%= fee_cost %>
                        <%= quote %>
                </p>
                <button> SAVE </button>
    </form>
</body>

</html>