<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Exchange</title>
</head>
<style>
    * {
        margin: auto;
        padding: auto;
    }

    body {
        background-image: url(../images/banderas.jpg);

    }

    form {
        border-radius: 10px;
        border: 100px;
        padding: 2%;
        margin-top: 10%;
        margin-left: 30%;
        margin-right: 30%;
        background-color: cadetblue;
        box-shadow: 0px 0px 10px 10px #ec731e;
        -webkit-box-shadow: 0px 0px 10px 10px #ec731e;
        transform: rotate(360deg);
        text-align: center;
        -webkit-transform: rotate(360deg);

    }

    form select {
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
    }

    button {
        border-radius: 15px;
        padding: 15px;
        margin: 5px;
    }

    button:hover {
        cursor: pointer;
        color: rgb(253, 137, 4);
        background: #444;
        border-left: 5px solid #444;
        transition: 1s;
    }

    input {
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
    }

    label {
        border-radius: 5px;
        padding: 5px;
        margin: 15px;
        text-justify: auto;
        text-align: center;
        margin-left: 30%;
    }
</style>

<body onload="available_money()">
    <form action="/add" method="POST">
        <% currenciesList.forEach(currencies=> { %>
            <input type="hidden" id="<%= currencies.currency %>" name="<%= currencies.currency %>"
                value="<%= currencies.available_money %>">



            <script>
                function available_money() {
                    var quote_amount = document.getElementById("quote_amount").value;
                    var availableMoney = document.getElementById(quote.value).value;
                    var LaberAvailableMoney = document.getElementById(quote.value).value;
                    var CurrencyAvailableMoney = document.getElementById(currency.value).value;
                    document.getElementById('available_money').value = availableMoney
                    document.getElementById('lavailable_money').value = LaberAvailableMoney
                    document.getElementById('available_currency_money').value = CurrencyAvailableMoney

                    alert(availableMoney);
                    alert(quote_amount);
                    if (parseFloat(availableMoney) > parseFloat(quote_amount)) {
                        document.getElementById("button").disabled = false;
                    }
                    else {
                        document.getElementById("button").disabled = true;
                        alert("there is not enough budget");
                    }
                }
            </script>
            <%})%>
                <p> <input type="text" placeholder="Name" id="name" name="name"> </p>
                <p> <input type="text" placeholder="Number" id="number" name="number"> </p>

                <input type="hidden" id="currency" name="currency" value="<%= currency %>">
                <input type="hidden" id="quote" name="quote" value="<%= quote %>">

                <p>Currency Amount:
                    <%= currency_amount %>
                        <input name="currency_amount" type="hidden" value="<%= currency_amount %>">
                        <%= currency %>
                </p>

                <p>Quote Amount: <%= quote_amount %>
                        <input id="quote_amount" name="quote_amount" type="hidden" value="<%= quote_amount %>">
                        <%= quote %>
                </p>

                <p> Available Money: <input name=" lavailable_money" id="lavailable_money" disabled>
                    <input oninput="availableMoneys()" value="" id="available_money" name="available_money"
                        type="hidden">
                    <input value="" id="available_currency_money" name="available_currency_money" type="hidden">
                    <%= quote %>
                </p>

                <p> Fee Cost: <%= fee_cost %>
                        <%= quote %>
                </p>

                <button id="button" name="button"> SAVE </button>
    </form>
</body>

</html>